body {
  background: #1565C0;
}

#container {
  margin: auto;
}

svg {
  background: white;
}

svg:hover {
  cursor: crosshair;
}

.element:hover {
  stroke: #f59942;
  fill: #f59942;
  stroke-width: 1px;
}

.selected {
  stroke: #42bcf5;
  fill: #42bcf5;
  stroke-width: 1px;
}

.line {
  stroke-width: 1px;
}

.button {
  border: none;
  padding: .4em 1em;
  margin: 1em;
  background: #ECEFF1;
  border: 1px solid white;
}

.on {
  background: #42A5F5;
  border: 1px solid #ECEFF1;
  color: #ECEFF1;
}

.button:hover {
  background-image: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0.1))
}